# Add any directories, files, or patterns you don't want to be tracked by version control
# Always include
!.gitignore
# Exclude following:
.idea
*.idea
# .import
# *.import
.import/
.vscode/
*.txt
/images/
/phpmyadmin/
